h1, h2{
    font-family: var(--title-font);
    font-weight: bold;
}

h1{
    font-size: 3rem;
}

img{
    max-width: 100%;
    height: auto;
}

.h-100{
    min-height: 100vh;
}

.h-80{
    min-height: 80vh;
}

.h-20{
    min-height: 20vh;
}

#homeWrap{
    background-image: linear-gradient(to right, rgba(242, 242, 242, .25) 50%, rgba(242, 242, 242, .25) 50%), url("../assets/hero.jpg");
    background-position: top center;
}

#navWrap{
    position: fixed;
    top: 0;
    background-color: var(--white-500);
    min-height: 20vh;
}