html{
    box-sizing: border-box;
}

nav{
    background-color: var(--white-500);
    min-height: 25vh;
}

h1, h2{
    font-family: var(--title-font);
}

h1{
    font-size: 3.5rem;
}

h2{
    font-size: 2.5rem;
}

h6{
    font-weight: bold;
    border-bottom: 1px solid black;
}

img{
    max-width: 100%;
    height: auto;
}

td, th{
    background-color: var(--brown-gold-100);
    border: 2px solid var(--mint-green-900);
    padding: 5px;
}

th{
    text-transform: uppercase;
    font-weight: bold;
}

input, textarea, select{
    border: none;
    border-radius: 5px;
    height: 30px;
}

textarea{
    min-height: 100px;
}

footer{
    background-color: var(--brown-gold-200);
    color: black;
}

.tip{
    transform: skewY(2deg);
    background-color: var(--mint-green-700);

    p{
        font-size: 1.25rem;
        text-transform: uppercase;
        font-weight: bold;
        color: white;
    }

    i{
        color: var(--brown-gold-400);
        font-size: 4rem;
    }
}

.overlay{
    height: 100%;

    div{
        background-color: var(--brown-gold-100);
        color: var(--mint-green-900);

        h5{
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

.h-100{
    min-height: 100vh;
}

.h-75{
    min-height: 75vh;
}

#homeWrap{
    background-image: linear-gradient(to right, rgba(241,241,241,.5) 50%, rgba(241,241,241,.5) 50%), url("../assets/hero_small.jpg");
    background-position: top center;
}

#beautybyYara{
    p{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 768px){
    h1{
        font-size: 4rem;
    }

    .tip{
        i{
            font-size: 6rem;
        }
    }

    #homeWrap{
        background-image:  linear-gradient(to right, rgba(241,241,241,.5) 50%, rgba(241,241,241,.5) 50%), url("../assets/hero.jpg");
    }
}